body {
    background: #d6d6d6;
}

.content {
    background: #fff;
    width: 1200px;
    margin: auto;
    min-height: 500px;
    padding: 15px;
}

.header {

}

.big_textarea {
    width: 95%;
    height: 350px;
}

.small_textarea {
    width: 50%;
    height: 150px;
}

.comment {
    width: 50%;
    clear: both;
}